@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway' , sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(37, 23, 0);
    overflow-y: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}

header {
    background-color: rgb(37, 23, 0);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

ol {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    color: lightgrey;
    font-size: 24px;
    cursor: pointer;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
}

.background-video {
    position: absolute;
    z-index: 1;
    top: -12vw;
    width: 80vw;
    margin: 0 1vw;
}

.modal-button {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    /*background: #DAA520;*/
    background: linear-gradient(top, #a95, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #a95);
    background: -webkit-linear-gradient(top, #85742f, #ffde39 25%, #fff6c6 38%, #ffdc5f 63%, #fea 87%, #a95);
    border: 3px solid #DAA520;
    border-radius: 3px;
    font-size: 22px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    transform: translate(-50%, -50%);
    z-index: 3;
    /*transition: background, color 2s;*/
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s, background 1s;
    overflow: hidden;
}

.modal-button::before,
.modal-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 60px;
    height: 100%;
    background-color: white;
    filter: blur(10px);
    transform: skewX(-45deg);
}

.modal-button:hover:before,
.modal-button:focus:before {
    left: calc(100% + 100px);
    transition: 1s;
}

.modal-button:hover:after,
.modal-button:focus:after {
    left: calc(100% + 100px);
    transition: 1s 0.3s;
}

.modal-button:hover {
    /*background: #985f08;*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 2;
    /*transition: background 2s;*/
    opacity: 0;
    transition: opacity 1s;
}